<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <link rel="stylesheet" type="text/css" href="/neo4j/css/style.css">
</head>
<body>
<h1>Map Data Display</h1>
<table>
    <thead>
    <tr>
        <th>Line</th>
        <th>SWRL</th>
        <th>Paths</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry,stat: ${swrl_map.keySet()}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${entry}"></td>
        <td>
            <ul>
                <li th:each="value : ${swrl_map.get(entry)}" th:text="${value}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>